.articles
  width: 75%
  margin-top: 30px
  padding-bottom: 60px

.articles-list
  margin: 0
  padding: 0
  list-style: none
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: min-content min-content min-content
  grid-gap: 30px

.articles-item
  background-color: #ffffff
  border-radius: 10px
  overflow: hidden
  &--1
    grid-column: 1/3
    grid-row: 1
    .article-category
      margin-top: 20px
      color: #6E99AE
    .article-title
      margin: 20px 0
      font-family: "Roboto Slab", "Georgia", serif
      font-size: 25px
      font-weight: 700
      line-height: 1.2
    blockquote
      display: flex
      align-items: center
      margin-left: 0
      margin-right: 15px
      color: #262D33
    .article-author-avatar
      width: 30px
      height: 30px
    .article-author
      margin-right: 5px
      font-weight: 900
    .article-footer
      justify-content: space-between
      padding: 13px 35px
      color: #262D33
    .article-content
      display: flex
      padding-top: 15px
      border-bottom: 1px solid #D9DADB
    .article-comments
      color: #939699
    .article-left-column
      padding-left: 35px
      padding-right: 15px
    .article-right-column
      flex-shrink: 0
      display: flex
      align-items: center
      width: 270px
      height: 300px
      overflow: hidden
      img
        max-width: 100%
        height: auto
    .article-comments::after
      background-image: url('../images/comment.svg')

  &--2
    position: relative
    grid-column: 3
    grid-row: 1
    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 1
      background-color: rgba(#40303D, 0.35)
    .article-image
      position: absolute
      top: 0
      left: 0
      z-index: 0
      height: 100%
      object-fit: cover
    .article-wrapper
      position: relative
      z-index: 2
      display: flex
      flex-direction: column
      align-items: flex-start
      padding: 25px
      color: #ffffff
    .article-title
      margin-top: 23px
      font-family: Roboto Slab, Georgia, serif
      color: inherit
      font-size: 16px
      line-height: 1.563
      font-weight: 700
      letter-spacing: 0.5px
      text-transform: uppercase
    .article-tag
      padding: 5px 12px
      margin-bottom: 110px
      font-size: 12px
      line-height: 1.25
      background-color: #3DC47E
      border-radius: 3px
      text-transform: capitalize
    .article-category
      color: #E7D9FF
    .article-footer
      width: 100%
      margin-top: 27px
    .footer-wrapper
      flex-direction: column
      width: 100%
    .article-author
      display: block
      margin-bottom: 2px
      opacity: 0.85
    .article-author-avatar
      width: 45px
      height: 45px
    .footer-info
      display: flex
      justify-content: space-between
      width: 100%
      font-size: 12px
      line-height: 1.25
      opacity: 0.4
    .article-comments::after
      background-image: url('../images/comment-white.svg')

  &--3
    grid-column: 1
    grid-row: 2/4
    display: flex
    flex-direction: column
    .article-image-wrapper
      height: 75%
      width: 100%
      display: flex
      overflow: hidden
    .article-image
      object-fit: cover
      flex-shrink: 0
      min-width: 100%
    .article-title
      margin: 15px 25px 30px
  &--default
    .article
      height: 100%
      display: flex
      flex-direction: column
      padding: 25px
      color: #262D33
    .article-text
      margin: 5px 0 10px
    .article-date
      margin-top: auto
      line-height: 1.25
      color: #939699

.article-category
  display: block

.article-title
  margin: 0
  font-size: 16px
  line-height: 1.563
  color: #262D33

.article-author-avatar
  border-radius: 50%

.articles-link
  display: flex
  height: 100%
  text-decoration: none


.article-category
  font-size: 12px
  font-weight: 900
  line-height: 1.25
  letter-spacing: 0.5px
  text-transform: uppercase

.article-text
  margin: 0
  padding: 0
  color: #262D33

.article-author-avatar
  margin-right: 10px

.article-author
  font-style: normal

.article-author-quote
  margin: 0

.article-footer
  display: flex
  align-items: center

.article-comments,
.article-likes
  position: relative
  padding-left: 20px
  font-size: 12px
  line-height: 1.25
  &::after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 15px
    height: 15px
    background-repeat: no-repeat
    background-position: center
    background-size: cover

.article-likes::after
  background-image: url('../images/heart.svg')



