.show-more
  display: inline-block
  padding: 10px 45px 10px 20px
  color: #ffffff
  font-size: 14px
  font-style: normal
  text-decoration: none
  font-weight: 900
  line-height: 20px
  background-color: #4592FF
  border-radius: 20px
  background-image: url('../images/arrow.svg')
  background-repeat: no-repeat
  background-position: center right 20px
  background-size: 15px
  &:hover,
  &:focus,
  &:visited
    color: #ffffff

.category-name
  font-size: 12px
  letter-spacing: 0.5px
  font-weight: 900
  text-transform: uppercase
  text-decoration: none
  &--javascript,
  &--javascript:hover,
  &--javascript:focus,
  &--javascript:visited
    color: #6E99AE
  &--css,
  &--css:hover,
  &--css:focus,
  &--css:visited
    color: #3BBDC4
  &--html,
  &--html:hover,
  &--html:focus,
  &--html:visited
    color: #AC8EE3
  &--news,
  &--news:hover,
  &--news:focus,
  &--news:visited
    color: #4592FF
  &--web-design:hover,
  &--web-design,
  &--web-design:focus,
  &--web-design:visited
    color: #FFA34D
  &--opinions:hover,
  &--opinions,
  &--opinions:focus,
  &--opinions:visited
    color: #3BBDC4
  &--hot:hover,
  &--hot,
  &--hot:focus,
  &--hot:visited
    color: #FF4F52
  &--career:hover,
  &--career,
  &--career:focus,
  &--career:visited
    color: #6E99AE
  &--collection:hover,
  &--collection,
  &--collection:focus,
  &--collection:visited
    color: #AC8EE3
