.sidebar-front-page
  width: calc(25% - 15px)
  margin-left: 30px

.widget-downloader
  padding-top: 25px
  color: #ffffff
  background-color: #3BBDC4
  border-radius: 10px
  background-image: url('../images/file.svg')
  background-repeat: no-repeat
  background-position: right 25px top 20px
  .widget-description
    margin: 10px 25px 20px
    font-weight: 400
    color: #C1F4F5

  .widget-link
    display: flex
    justify-content: center
    padding: 12px 25px 13px
    color: inherit
    font-weight: 900
    text-decoration: none
    text-align: center
    border-top: 1px solid #96E2E3
    &::before
      content: ''
      width: 17px
      height: 17px
      margin-right: 10px
      background-image: url('../images/download.svg')
      background-repeat: no-repeat
      background-position: center
      background-size: cover

.widget-title
  margin: 0
  padding: 0 25px
  font-family: Roboto Slab, Georgia, serif
  font-size: 16px
  font-weight: 700
  line-height: 1.563
