.sidebar-front-page
  width: calc(25% - 15px)
  margin-left: 30px

.widget
  margin-bottom: 30px
  background-color: #ffffff
  border-radius: 10px

.widget-title
  margin: 0
  padding: 20px 25px
  font-size: 14px
  line-height: 1.429
  font-weight: 900
  letter-spacing: 0.5px
  text-transform: uppercase
  border-bottom: 1px solid #D9DADB

.widget-downloader
  padding-top: 25px
  color: #ffffff
  background-color: #3BBDC4
  background-image: url('../images/file.svg')
  background-repeat: no-repeat
  background-position: right 25px top 20px
  .widget-title
    padding: 0 25px
    font-family: Roboto Slab, Georgia, serif
    font-size: 16px
    font-weight: 700
    line-height: 1.563
    letter-spacing: 0
    text-transform: none
    border: none

  .widget-description
    margin: 10px 25px 20px
    font-weight: 400
    color: #C1F4F5

  .widget-link
    display: flex
    justify-content: center
    padding: 12px 25px 13px
    color: inherit
    font-weight: 900
    text-decoration: none
    text-align: center
    border-top: 1px solid #96E2E3
    &::before
      content: ''
      width: 17px
      height: 17px
      margin-right: 10px
      background-image: url('../images/download.svg')
      background-repeat: no-repeat
      background-position: center
      background-size: cover

.widget_tag_cloud
  color: #262D33

  .tagcloud
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    padding: 25px 15px 15px 25px
  .tag-cloud-link
    padding: 5px 15px
    margin-right: 10px
    margin-bottom: 15px
    font-size: 14px
    line-height: 1.429
    font-weight: 900
    text-decoration: none
    color: inherit
    text-transform: capitalize
    border: 1px solid #D9DADB
    border-radius: 5px

.widget_social
  color: #262D33
  text-align: center

  .widget-title
    padding: 30px 25px 25px
    font-family: Roboto Slab, Georgia, serif
    font-size: 20px
    font-weight: 700
    line-height: 1.25
    letter-spacing: 0
    text-transform: none
    border: none

  .widget_content
    display: flex
    justify-content: space-around
    padding: 0 15px 35px
  .widget_social-link
    display: flex
    justify-content: center
    align-items: center
    width: 50px
    height: 50px
    border-radius: 50%
    &--facebook
      background-color: #4267B2
    &--twitter
    background-color: #1DA1F2
    &--youtube
      background-color: #FF0000
    &--instagram
      background-color: #262626
