.post-header
  padding: 60px 0 72px
  color: #ffffff
  p
    max-width: 630px
    margin: 0 0 43px
    font-size: 18px
    line-height: 1.667
    color: rgba(#ffffff, 0.85 )
.post-container
  max-width: 946px
.post-header-nav
  display: flex
  justify-content: space-between
  align-items: center
  .navigation
    margin: 0
  .home-link
    display: flex
    align-items: center
    margin-left: auto
    margin-right: 30px
    text-decoration: none
    color: #ffffff
    font-weight: 900
    svg
      margin-right: 6px
  .nav-links
    min-width: 160px
    a
      text-decoration: none
      color: #ffffff
      font-weight: 900

    .icon
      &-prev
        margin-right: 6px
      &-next
        margin-left: 6px
.post-title-wrapper
  position: relative
  margin: 50px 0 30px
.post-title
  max-width: 750px
  margin: 0
  font-family: Roboto Slab, Georgia, serif
  font-size: 55px
  font-weight: 700
  line-height: 1.273
  color: #ffffff
.post-bookmark
  position: absolute
  top: 20px
  right: 0
  background-color: transparent
  border: none
  padding: 0
  cursor: pointer
  .icon
    color: rgba(#ffffff, 0.4)
.post-header-info
  display: flex
  align-items: center
  &-item
    display: flex
    align-items: center
    margin-right: 20px
    font-size: 12px
    line-height: 1.25
    color: rgba(#ffffff, 0.85)
  .icon
    margin-right: 5px
    color: rgba(#ffffff, 0.4)
