.special
  background-color: #262D33

.special-grid
  display: flex
  justify-content: space-between
  padding-top: 60px
  padding-bottom: 60px

.photo-report,
.other
  width: calc(50% - 15px)
  min-height: 570px
  h3
    font-family: Roboto Slab, Georgia, serif
    font-weight: 700

.photo-report
  position: relative
  background-color: #575557
  border-radius: 10px
  overflow: hidden
  .category-link
    align-self: flex-start
    padding: 5px 12px
    font-size: 12px
    font-weight: 400
    line-height: 1.25
    color: #ffffff
    text-decoration: none
    background-color: #3DC47E
    border-radius: 3px
  .button-photo
    .icon
      margin-left: 0
      margin-right: 8px
  .button-photo-counter
    margin-left: 8px
    font-weight: normal
  .author
    margin-top: 7px
    text-decoration: none
    color: #ffffff
  .author-avatar
    width: 45px
    height: 45px
    border-radius: 50%
  .author-name
    display: block
    margin-top: 8px
    margin-bottom: 2px
  .author-rank
    font-size: 12px
    line-height: 1.25
    opacity: 0.3

.photo-report-title
  margin: 30px auto 45px
  max-width: 455px
  font-size: 40px
  line-height: 1.25
  color: #ffffff

.photo-report-slider
  position: absolute
  top: 0
  left: 0
  z-index: 0
  width: 100%
  height: 100%
  .swiper-slide
    width: 100%
    height: inherit
    img
      height: 100%
      width: 100%
      object-fit: cover
.photo-report-content
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  height: 100%
  padding: 18px
  text-align: center
  background-image: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35))
  background-repeat: no-repeat

.career
  min-height: 370px
  padding: 35px 50% 50px 35px
  margin-bottom: 30px
  background-color: #B4D1E0
  border-radius: 10px
  background-image: url('../images/career.png')
  background-repeat: no-repeat
  background-position: top right
  background-size: cover
.career-title
  margin: 20px 0 15px
  font-size: 25px
  line-height: 1.2
  color: #262D33
.career-text
  margin: 0 0 45px

.other-list
  margin: 0
  padding: 0
  list-style: none
  display: flex
  justify-content: space-between
.other-post
  width: calc( 50% - 15px )
  padding: 25px 25px 30px
  background-color: #ffffff
  border-radius: 10px
.other-post-link
  text-decoration: none
  color: inherit
  &:hover,
  &:focus,
  &:visited
    color: inherit
.other-post-title
  margin: 0
  font-size: 16px
  line-height: 1.563
  color: #262D33
.other-post-text
  margin: 5px 0 10px
.other-post-date
  color: #939699
  font-size: 12px
  line-height: 1.25

@media screen and ( max-width: 1200px )
  .special-grid
    flex-wrap: wrap
  .photo-report
    width: 100%
    margin-bottom: 30px
  .other
    width: 100%
  .career
    background-size: contain
    background-position: 75% 0

@media screen and ( max-width: 768px )
  .career
    background-position: center
    background-origin: border-box
    background-size: cover

@media screen and ( max-width: 480px )
  .career
    padding: 25px 35% 25px 25px
  .other-list
    flex-wrap: wrap
    .other-post
      width: 100%
      margin-bottom: 15px
  .photo-report-title
    font-size: 28px
