@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff2") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/lato-black.woff2") format("woff2"), url("../fonts/lato-black.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}

body {
  font-family: "Lato", "Verdana", sans-serif;
  color: #4b5157;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 85%;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  font-weight: 900;
  line-height: 20px;
  background-color: #4592FF;
  border-radius: 20px;
}

.button:hover, .button:focus, .button:visited {
  color: #ffffff;
}

.button .icon {
  margin-left: 8px;
}

.category-name {
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
}

.category-name--javascript, .category-name--javascript:hover, .category-name--javascript:focus, .category-name--javascript:visited {
  color: #6E99AE;
}

.category-name--css, .category-name--css:hover, .category-name--css:focus, .category-name--css:visited {
  color: #3BBDC4;
}

.category-name--html, .category-name--html:hover, .category-name--html:focus, .category-name--html:visited {
  color: #AC8EE3;
}

.category-name--news, .category-name--news:hover, .category-name--news:focus, .category-name--news:visited {
  color: #4592FF;
}

.category-name--web-design:hover, .category-name--web-design, .category-name--web-design:focus, .category-name--web-design:visited {
  color: #FFA34D;
}

.category-name--opinions:hover, .category-name--opinions, .category-name--opinions:focus, .category-name--opinions:visited {
  color: #3BBDC4;
}

.category-name--hot:hover, .category-name--hot, .category-name--hot:focus, .category-name--hot:visited {
  color: #FF4F52;
}

.category-name--career:hover, .category-name--career, .category-name--career:focus, .category-name--career:visited {
  color: #6E99AE;
}

.category-name--collection:hover, .category-name--collection, .category-name--collection:focus, .category-name--collection:visited {
  color: #AC8EE3;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #262D33;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu-toggle {
  display: none;
}

.menu-item a {
  margin-left: 15px;
  margin-right: 15px;
  font: inherit;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.search-form {
  position: relative;
  width: 25%;
  height: 40px;
}

.search-form input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px 25px;
  background: #656B70;
  border-radius: 10px;
  border: none;
}

.search-form input::-webkit-input-placeholder {
  color: #939699;
}

.search-form input:-ms-input-placeholder {
  color: #939699;
}

.search-form input::-ms-input-placeholder {
  color: #939699;
}

.search-form input::placeholder {
  color: #939699;
}

.search-form button {
  position: absolute;
  right: 20px;
  top: 0;
  width: 25px;
  height: 100%;
  color: #BCBFC2;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .menu-item a {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .header-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 30px;
  }
  .header-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .search-form {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .search-form {
    width: 40%;
    margin-left: auto;
  }
  .header-wrapper {
    position: relative;
  }
  .header-nav {
    position: absolute;
    top: 55px;
    right: 0;
    z-index: 3;
    display: none;
    width: calc(40% + 40px);
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 10px rgba(38, 45, 51, 0.3);
            box-shadow: 0 5px 10px rgba(38, 45, 51, 0.3);
  }
  .header-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-menu a {
    color: #262D33;
  }
  .menu-item {
    margin-bottom: 15px;
  }
  .menu-item:last-child {
    margin-bottom: 0;
  }
  .header-menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    font-size: 0;
  }
  .header-menu-toggle span {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
  }
}

.home {
  background-color: #EDEFF0;
}

.hero-wrapper {
  background-image: linear-gradient(to bottom, #262D33 0, #262D33 545px, #EDEFF0 545px, #EDEFF0 100%);
  padding-top: 30px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 570px;
  overflow: hidden;
  border-radius: 10px;
}

.hero-left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  padding: 55px 55px 100px;
}

.hero-left::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(64, 48, 61, 0.35);
}

.hero-left .post-thumb {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.hero-left .author {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: normal;
}

.hero-left .author-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.hero-left .author-bio {
  margin-left: 10px;
}

.hero-left .author-name {
  display: block;
  font-size: 14px;
  line-height: 1.19;
  color: rgba(255, 255, 255, 0.85);
}

.hero-left .author-rank {
  font-size: 12px;
  line-height: 1.04;
  color: rgba(255, 255, 255, 0.4);
}

.hero-left .post-text {
  position: relative;
  z-index: 2;
  padding: 15px 0;
  max-width: 600px;
}

.hero-left .category-name {
  line-height: 1.25;
}

.hero-left .post-title {
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: "Roboto Slab", "Georgia", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
}

.hero-right {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: #ffffff;
}

.hero-right .recommend {
  margin-left: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #262D33;
}

.hero-right .posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero-right .post {
  padding: 17px 25px 19px 25px;
  margin: 0;
  min-height: 100px;
  border-top: 1px solid #D9DADB;
}

.hero-right .post:hover {
  background-color: #f5f5f5;
}

.hero-right .post-categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-right .post-categories a {
  font-size: 12px;
  line-height: 1.04;
  color: #4592FF;
  letter-spacing: 0.5px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
}

.hero-right .post-permalink {
  text-decoration: none;
  color: #4B5157;
}

.hero-right .post-title {
  margin-top: 8px;
  margin-bottom: 0;
  min-height: 40px;
  font-size: 14px;
  line-height: 1.43;
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  .hero-right {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}

@media screen and (max-width: 768px) {
  .hero-wrapper {
    padding-bottom: 30px;
    background-image: none;
    background-color: #262D33;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .hero-left {
    padding: 25px 25px 50px;
  }
  .hero-left .post-title {
    font-size: 28px;
  }
}

.articles-bar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 30px;
  padding: 25px 0 30px;
  list-style: none;
  background-color: #30363D;
  border-radius: 10px;
}

.articles-bar-item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
  border-right: 1px solid #4B5157;
}

.articles-bar-item:last-child {
  border: none;
}

.articles-bar-permalink {
  width: 150px;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.articles-bar-title {
  margin: 0;
  font-weight: 900;
  line-height: 1.43;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .articles-bar-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .articles-bar-item {
    width: 50%;
    margin: 20px 0;
    padding: 0 25px;
  }
  .articles-bar-permalink {
    width: 60%;
  }
}

@media screen and (max-width: 576px) {
  .articles-bar-item {
    width: 100%;
  }
}

.main-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 30px 0 60px;
}

.articles {
  width: calc(75% - 15px);
}

.articles-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  -ms-grid-rows: (minmax(200px, max-content))[3];
      grid-template-rows: repeat(3, minmax(200px, -webkit-max-content));
      grid-template-rows: repeat(3, minmax(200px, max-content));
  grid-auto-rows: minmax(200px, -webkit-max-content);
  grid-auto-rows: minmax(200px, max-content);
  grid-gap: 30px;
}

.articles-item {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.articles-item--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.articles-item--1 .category-name {
  display: block;
  margin-top: 20px;
}

.articles-item--1 .article-title {
  margin: 20px 0;
  font-family: "Roboto Slab", "Georgia", serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
}

.articles-item--1 blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
  margin-right: 15px;
  color: #262D33;
}

.articles-item--1 .article-author-avatar {
  width: 30px;
  height: 30px;
}

.articles-item--1 .article-author {
  margin-right: 5px;
  font-weight: 900;
}

.articles-item--1 .article-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 35px;
  color: #262D33;
}

.articles-item--1 .article-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  border-bottom: 1px solid #D9DADB;
}

.articles-item--1 .article-comments {
  color: #939699;
}

.articles-item--1 .article-comments .icon {
  vertical-align: top;
}

.articles-item--1 .article-left-column {
  padding-left: 35px;
  padding-right: 15px;
}

.articles-item--1 .article-right-column {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 300px;
  overflow: hidden;
}

.articles-item--1 .article-right-column img {
  max-width: 100%;
  height: auto;
}

.articles-item--1 .footer-info {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles-item--2 {
  position: relative;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.articles-item--2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(64, 48, 61, 0.35);
}

.articles-item--2 .article-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles-item--2 .article-wrapper {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px;
  color: #ffffff;
}

.articles-item--2 .article-title {
  margin-top: 23px;
  font-family: Roboto Slab, Georgia, serif;
  color: inherit;
  font-size: 16px;
  line-height: 1.563;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.articles-item--2 .article-tag {
  padding: 5px 12px;
  margin-bottom: 110px;
  font-size: 12px;
  line-height: 1.25;
  background-color: #3DC47E;
  border-radius: 3px;
  text-transform: capitalize;
}

.articles-item--2 .article-footer {
  width: 100%;
  margin-top: 27px;
}

.articles-item--2 .footer-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.articles-item--2 .article-author {
  display: block;
  margin-bottom: 2px;
  opacity: 0.85;
}

.articles-item--2 .article-author-avatar {
  width: 45px;
  height: 45px;
}

.articles-item--2 .footer-info {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: inherit;
  opacity: 0.4;
}

.articles-item--2 .icon {
  margin-right: 5px;
}

.articles-item--3 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articles-item--3 .article-image-wrapper {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.articles-item--3 .article-image {
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 100%;
}

.articles-item--3 .article-title {
  margin: 15px 25px 30px;
}

.articles-item--default .article {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
  color: #262D33;
}

.articles-item--default .article-text {
  margin: 5px 0 10px;
}

.articles-item--default .article-date {
  margin-top: auto;
  line-height: 1.25;
  color: #939699;
}

.article-category {
  display: block;
}

.article-title {
  margin: 0;
  font-size: 16px;
  line-height: 1.563;
  color: #262D33;
}

.article-author-avatar {
  border-radius: 50%;
}

.articles-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  text-decoration: none;
}

.article-category {
  font-size: 12px;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.article-text {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  color: #262D33;
}

.article-author-avatar {
  margin-right: 10px;
}

.article-author {
  font-style: normal;
}

.article-author-quote {
  margin: 0;
}

.article-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-comments,
.article-likes {
  font-size: 12px;
  line-height: 1.25;
}

.article-comments .icon,
.article-likes .icon {
  vertical-align: middle;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #939699;
  font-size: 12px;
  line-height: 1.25;
}

@media screen and (max-width: 1200px) {
  .articles {
    width: calc( 70% - 15px);
  }
  .articles-list {
    -ms-grid-columns: (minmax(40%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
  .articles-item--2 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .articles-item--3 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

@media screen and (max-width: 1024px) {
  .main-grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .articles {
    width: calc( 65% - 15px);
  }
  .articles-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
  .articles-item {
    grid-column: auto;
    grid-row: auto;
  }
}

@media screen and (max-width: 960px) {
  .articles {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .articles-item--1 .article-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 0;
  }
  .articles-item--1 .article-right-column {
    width: auto;
    height: auto;
  }
  .articles-item--1 .article-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .articles-item--1 blockquote {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .articles-item--1 .article-author-quote {
    margin-top: 10px;
  }
}

.sidebar-front-page {
  width: calc(25% - 15px);
  margin-left: 30px;
}

.sidebar-front-page .widget_content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px 35px;
}

.sidebar-front-page .widget_social-link {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.widget {
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 10px;
}

.widget-title {
  margin: 0;
  padding: 20px 25px 19px;
  font-size: 14px;
  line-height: 1.429;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-bottom: 1px solid #D9DADB;
}

.widget-downloader {
  padding-top: 25px;
  color: #ffffff;
  background-color: #3BBDC4;
  background-image: url("../images/file.svg");
  background-repeat: no-repeat;
  background-position: right 25px top 20px;
}

.widget-downloader .widget-title {
  padding: 0 25px;
  font-family: Roboto Slab, Georgia, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.563;
  letter-spacing: 0;
  text-transform: none;
  border: none;
}

.widget-downloader .widget-description {
  margin: 10px 25px 20px;
  font-weight: 400;
  color: #C1F4F5;
}

.widget-downloader .widget-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 25px 13px;
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid #96E2E3;
}

.widget-downloader .widget-link .icon {
  margin-right: 11px;
}

.widget_tag_cloud {
  color: #262D33;
}

.widget_tag_cloud .tagcloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 25px 15px 15px 25px;
}

.widget_tag_cloud .tag-cloud-link {
  padding: 5px 15px;
  margin-right: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.429;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
  border: 1px solid #D9DADB;
  border-radius: 5px;
}

.widget_social {
  color: #262D33;
  text-align: center;
}

.widget_social .widget-title {
  padding: 30px 25px 25px;
  font-family: Roboto Slab, Georgia, serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0;
  text-transform: none;
  border: none;
}

.widget_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.widget_social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px;
  margin-right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1DA1F2;
}

.widget_social-link--facebook {
  background-color: #4267B2;
}

.widget_social-link--youtube {
  background-color: #FF0000;
}

.widget_social-link--instagram {
  background-color: #262626;
}

.widget_recent-post .recent-post-more {
  display: block;
  padding: 11px 0 14px;
  color: #262D33;
  font-weight: 900;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid #D9DADB;
}

.widget_recent-post .recent-post-more:visited {
  color: #262D33;
}

.recent-post-wrapper {
  padding: 0 25px;
  counter-reset: cnt;
}

.recent-post-wrapper .recent-post-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 0;
  text-decoration: none;
  color: #4B5157;
  border-bottom: 1px solid #D9DADB;
}

.recent-post-wrapper .recent-post-link:last-child {
  border-bottom: none;
}

.recent-post-wrapper .recent-post-link::before {
  counter-increment: cnt;
  content: counter(cnt);
  position: absolute;
  top: 20px;
  right: 5px;
  font-size: 70px;
  line-height: 1;
  font-weight: 900;
  font-style: italic;
  color: rgba(38, 45, 51, 0.08);
}

.recent-post-wrapper img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.recent-post-title {
  margin: 0 0 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}

.recent-post-time {
  font-size: 12px;
  line-height: 1.25;
  color: #939699;
}

@media screen and (max-width: 1200px) {
  .sidebar-front-page {
    width: calc(30% - 15px);
  }
}

@media screen and (max-width: 1024px) {
  .sidebar-front-page {
    width: calc(35% - 15px);
  }
  .sidebar-front-page--news {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}

@media screen and (max-width: 960px) {
  .sidebar-front-page {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}

.investigation {
  padding: 50px 0 55px;
  text-align: center;
  color: #ffffff;
  background-color: #5D5555;
}

.investigation .button {
  margin: 0 auto;
}

.investigation-title {
  width: 946px;
  margin: 0 auto 25px;
  font-family: Roboto Slab, Georgia, serif;
  font-size: 40px;
  line-height: 1.25;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .investigation-title {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .investigation-title {
    font-size: 28px;
  }
}

.news {
  width: calc( 75% - 15px);
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.news-list {
  margin: 0;
  padding: 0 25px;
  list-style: none;
}

.news-item {
  padding: 25px 0 24px;
  border-bottom: 1px solid #D9DADB;
}

.news-item:last-child {
  border-bottom: none;
}

.news-link {
  text-decoration: none;
  color: inherit;
}

.news-link:hover, .news-link:focus, .news-link:visited {
  color: inherit;
}

.news-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-image-column {
  width: 336px;
  min-height: 100%;
  margin-right: 25px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.news-image-column img {
  -o-object-fit: cover;
     object-fit: cover;
}

.news-text-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px 0;
}

.category-name {
  line-height: 1.25;
}

.news-title {
  margin: 15px 0 10px;
  font-family: Roboto Slab, Georgia, serif;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 700;
  color: #262D33;
}

.news-text {
  margin: 0 0 10px;
  padding: 0;
  color: #4B5157;
}

.news-footer {
  margin-top: auto;
}

.news-footer .article-date,
.news-footer .article-comments {
  margin-right: 11px;
}

@media screen and (max-width: 1024px) {
  .news {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .news-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-image-column {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 480px) {
  .news-item {
    padding-top: 0;
    border-bottom: none;
  }
}

.special {
  background-color: #262D33;
}

.special-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.photo-report,
.other {
  width: calc(50% - 15px);
  min-height: 570px;
}

.photo-report h3,
.other h3 {
  font-family: Roboto Slab, Georgia, serif;
  font-weight: 700;
}

.photo-report {
  position: relative;
  background-color: #575557;
  border-radius: 10px;
  overflow: hidden;
}

.photo-report .category-link {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 5px 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  text-decoration: none;
  background-color: #3DC47E;
  border-radius: 3px;
}

.photo-report .button-photo .icon {
  margin-left: 0;
  margin-right: 8px;
}

.photo-report .button-photo-counter {
  margin-left: 8px;
  font-weight: normal;
}

.photo-report .author {
  margin-top: 7px;
  text-decoration: none;
  color: #ffffff;
}

.photo-report .author-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.photo-report .author-name {
  display: block;
  margin-top: 8px;
  margin-bottom: 2px;
}

.photo-report .author-rank {
  font-size: 12px;
  line-height: 1.25;
  opacity: 0.3;
}

.photo-report-title {
  margin: 30px auto 45px;
  max-width: 455px;
  font-size: 40px;
  line-height: 1.25;
  color: #ffffff;
}

.photo-report-slider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.photo-report-slider .swiper-slide {
  width: 100%;
  height: inherit;
}

.photo-report-slider .swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo-report-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 18px;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(64, 48, 61, 0.35)), to(rgba(64, 48, 61, 0.35)));
  background-image: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
  background-repeat: no-repeat;
}

.career {
  min-height: 370px;
  padding: 35px 50% 50px 35px;
  margin-bottom: 30px;
  background-color: #B4D1E0;
  border-radius: 10px;
  background-image: url("../images/career.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

.career-title {
  margin: 20px 0 15px;
  font-size: 25px;
  line-height: 1.2;
  color: #262D33;
}

.career-text {
  margin: 0 0 45px;
}

.other-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.other-post {
  width: calc( 50% - 15px);
  padding: 25px 25px 30px;
  background-color: #ffffff;
  border-radius: 10px;
}

.other-post-link {
  text-decoration: none;
  color: inherit;
}

.other-post-link:hover, .other-post-link:focus, .other-post-link:visited {
  color: inherit;
}

.other-post-title {
  margin: 0;
  font-size: 16px;
  line-height: 1.563;
  color: #262D33;
}

.other-post-text {
  margin: 5px 0 10px;
}

.other-post-date {
  color: #939699;
  font-size: 12px;
  line-height: 1.25;
}

@media screen and (max-width: 1200px) {
  .special-grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .photo-report {
    width: 100%;
    margin-bottom: 30px;
  }
  .other {
    width: 100%;
  }
  .career {
    background-size: contain;
    background-position: 75% 0;
  }
}

@media screen and (max-width: 768px) {
  .career {
    background-position: center;
    background-origin: border-box;
    background-size: cover;
  }
}

@media screen and (max-width: 480px) {
  .career {
    padding: 25px 35% 25px 25px;
  }
  .other-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .other-list .other-post {
    width: 100%;
    margin-bottom: 15px;
  }
  .photo-report-title {
    font-size: 28px;
  }
}

.footer {
  padding: 50px 0;
  background-color: #ffffff;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

.footer-menu-bar ul a {
  display: block;
  margin: 0 0 15px;
  font-weight: 400;
  color: #4B5157;
  text-decoration: none;
}

.footer-menu-bar .footer-menu {
  width: 16.66%;
  padding: 0 20px 0 0;
}

.footer-menu-bar .footer-menu:nth-child(1) {
  border-top: 5px solid #FF4F52;
}

.footer-menu-bar .footer-menu:nth-child(2) {
  border-top: 5px solid #AC8EE3;
}

.footer-menu-bar .footer-menu:nth-child(3) {
  border-top: 5px solid #4592FF;
}

.footer-menu-bar .footer-menu:nth-child(4) {
  border-top: 5px solid #FFA34D;
}

.footer-menu-bar .footer-menu:nth-child(5) {
  border-top: 5px solid #3DC47E;
}

.footer-menu-bar .footer-menu:nth-child(6) {
  border-top: 5px solid #6E99AE;
}

.footer-menu-bar .footer-menu-title {
  margin: 30px 0 25px;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.43;
  color: #262D33;
}

.footer-menu-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  border-top: 1px solid #D9DADB;
  border-bottom: 1px solid #D9DADB;
}

.footer-menu-info .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-menu-info .footer-nav a {
  font-weight: 900;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #262D33;
}

.footer-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 10px;
  color: #939699;
}

.footer-text-wrapper p {
  max-width: 750px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .footer-text {
    max-width: 75%;
  }
}

@media screen and (max-width: 1024px) {
  .footer-menu-bar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-menu-bar .footer-menu {
    width: 33.3%;
  }
}

@media screen and (max-width: 768px) {
  .footer-menu-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-menu-info nav {
    width: 100%;
  }
  .footer-menu-info .menu-item {
    margin-bottom: 15px;
  }
  .footer-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .footer-menu-bar .footer-menu {
    width: 50%;
  }
  .footer-text-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-text {
    width: 100%;
    max-width: 100%;
  }
  .footer-text p {
    width: 100%;
    margin-bottom: 15px;
  }
}
