@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff2") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/lato-black.woff2") format("woff2"), url("../fonts/lato-black.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}

body {
  font-family: "Lato", "Verdana", sans-serif;
  color: #4b5157;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  font-weight: 900;
  line-height: 20px;
  background-color: #4592FF;
  border-radius: 20px;
}

.button:hover, .button:focus, .button:visited {
  color: #ffffff;
}

.button .icon {
  margin-left: 8px;
}

.category-name {
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
}

.category-name--javascript, .category-name--javascript:hover, .category-name--javascript:focus, .category-name--javascript:visited {
  color: #6E99AE;
}

.category-name--css, .category-name--css:hover, .category-name--css:focus, .category-name--css:visited {
  color: #3BBDC4;
}

.category-name--html, .category-name--html:hover, .category-name--html:focus, .category-name--html:visited {
  color: #AC8EE3;
}

.category-name--news, .category-name--news:hover, .category-name--news:focus, .category-name--news:visited {
  color: #4592FF;
}

.category-name--web-design:hover, .category-name--web-design, .category-name--web-design:focus, .category-name--web-design:visited {
  color: #FFA34D;
}

.category-name--opinions:hover, .category-name--opinions, .category-name--opinions:focus, .category-name--opinions:visited {
  color: #3BBDC4;
}

.category-name--hot:hover, .category-name--hot, .category-name--hot:focus, .category-name--hot:visited {
  color: #FF4F52;
}

.category-name--career:hover, .category-name--career, .category-name--career:focus, .category-name--career:visited {
  color: #6E99AE;
}

.category-name--collection:hover, .category-name--collection, .category-name--collection:focus, .category-name--collection:visited {
  color: #AC8EE3;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #262D33;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item a {
  margin-left: 15px;
  margin-right: 15px;
  font: inherit;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.search-form {
  position: relative;
  width: 270px;
  height: 40px;
}

.search-form input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px 25px;
  background: #656B70;
  border-radius: 10px;
  border: none;
}

.search-form input::-webkit-input-placeholder {
  color: #939699;
}

.search-form input:-ms-input-placeholder {
  color: #939699;
}

.search-form input::-ms-input-placeholder {
  color: #939699;
}

.search-form input::placeholder {
  color: #939699;
}

.search-form button {
  position: absolute;
  right: 20px;
  top: 0;
  width: 25px;
  height: 100%;
  color: #BCBFC2;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.home {
  background-color: #e5e5e5;
}

.front-page-header {
  position: relative;
  height: 545px;
  padding-top: 30px;
  background-color: #262D33;
}

.hero {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 570px;
  overflow: hidden;
  border-radius: 10px;
}

.hero-left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  padding: 55px 55px 100px;
}

.hero-left::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(64, 48, 61, 0.35);
}

.hero-left .post-thumb {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.hero-left .author {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: normal;
}

.hero-left .author-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.hero-left .author-bio {
  margin-left: 10px;
}

.hero-left .author-name {
  display: block;
  font-size: 14px;
  line-height: 1.19;
  color: rgba(255, 255, 255, 0.85);
}

.hero-left .author-rank {
  font-size: 12px;
  line-height: 1.04;
  color: rgba(255, 255, 255, 0.4);
}

.hero-left .post-text {
  position: relative;
  z-index: 2;
  max-width: 600px;
}

.hero-left .category-name {
  line-height: 1.25;
}

.hero-left .post-title {
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: "Roboto Slab", "Georgia", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
}

.hero-right {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: #ffffff;
}

.hero-right .recommend {
  margin-left: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #262D33;
}

.hero-right .posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero-right .post {
  padding: 17px 25px 19px 25px;
  margin: 0;
  min-height: 100px;
  border-top: 1px solid #D9DADB;
}

.hero-right .post:hover {
  background-color: #f5f5f5;
}

.hero-right .post-categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-right .post-categories a {
  font-size: 12px;
  line-height: 1.04;
  color: #4592FF;
  letter-spacing: 0.5px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
}

.hero-right .post-permalink {
  text-decoration: none;
  color: #4B5157;
}

.hero-right .post-title {
  margin-top: 8px;
  margin-bottom: 0;
  min-height: 40px;
  font-size: 14px;
  line-height: 1.43;
  font-weight: normal;
}

.articles-bar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 30px;
  padding: 25px 0 30px;
  list-style: none;
  background-color: #30363D;
  border-radius: 10px;
}

.articles-bar-item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
  border-right: 1px solid #4B5157;
}

.articles-bar-item:last-child {
  border: none;
}

.articles-bar-permalink {
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.articles-bar-title {
  margin: 0;
  font-weight: 900;
  line-height: 1.43;
  color: #ffffff;
}

.main-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 30px 0 60px;
}

.articles {
  width: calc(75% - 15px);
}

.articles-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: min-content min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content min-content;
  grid-gap: 30px;
}

.articles-item {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.articles-item--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.articles-item--1 .category-name {
  display: block;
  margin-top: 20px;
}

.articles-item--1 .article-title {
  margin: 20px 0;
  font-family: "Roboto Slab", "Georgia", serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
}

.articles-item--1 blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
  margin-right: 15px;
  color: #262D33;
}

.articles-item--1 .article-author-avatar {
  width: 30px;
  height: 30px;
}

.articles-item--1 .article-author {
  margin-right: 5px;
  font-weight: 900;
}

.articles-item--1 .article-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 35px;
  color: #262D33;
}

.articles-item--1 .article-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  border-bottom: 1px solid #D9DADB;
}

.articles-item--1 .article-comments {
  color: #939699;
}

.articles-item--1 .article-comments .icon {
  vertical-align: top;
}

.articles-item--1 .article-left-column {
  padding-left: 35px;
  padding-right: 15px;
}

.articles-item--1 .article-right-column {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 300px;
  overflow: hidden;
}

.articles-item--1 .article-right-column img {
  max-width: 100%;
  height: auto;
}

.articles-item--1 .footer-info {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles-item--2 {
  position: relative;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.articles-item--2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(64, 48, 61, 0.35);
}

.articles-item--2 .article-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles-item--2 .article-wrapper {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px;
  color: #ffffff;
}

.articles-item--2 .article-title {
  margin-top: 23px;
  font-family: Roboto Slab, Georgia, serif;
  color: inherit;
  font-size: 16px;
  line-height: 1.563;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.articles-item--2 .article-tag {
  padding: 5px 12px;
  margin-bottom: 110px;
  font-size: 12px;
  line-height: 1.25;
  background-color: #3DC47E;
  border-radius: 3px;
  text-transform: capitalize;
}

.articles-item--2 .article-footer {
  width: 100%;
  margin-top: 27px;
}

.articles-item--2 .footer-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.articles-item--2 .article-author {
  display: block;
  margin-bottom: 2px;
  opacity: 0.85;
}

.articles-item--2 .article-author-avatar {
  width: 45px;
  height: 45px;
}

.articles-item--2 .footer-info {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: inherit;
  opacity: 0.4;
}

.articles-item--2 .icon {
  margin-right: 5px;
}

.articles-item--3 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articles-item--3 .article-image-wrapper {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.articles-item--3 .article-image {
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 100%;
}

.articles-item--3 .article-title {
  margin: 15px 25px 30px;
}

.articles-item--default .article {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
  color: #262D33;
}

.articles-item--default .article-text {
  margin: 5px 0 10px;
}

.articles-item--default .article-date {
  margin-top: auto;
  line-height: 1.25;
  color: #939699;
}

.article-category {
  display: block;
}

.article-title {
  margin: 0;
  font-size: 16px;
  line-height: 1.563;
  color: #262D33;
}

.article-author-avatar {
  border-radius: 50%;
}

.articles-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  text-decoration: none;
}

.article-category {
  font-size: 12px;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.article-text {
  margin: 0;
  padding: 0;
  color: #262D33;
}

.article-author-avatar {
  margin-right: 10px;
}

.article-author {
  font-style: normal;
}

.article-author-quote {
  margin: 0;
}

.article-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-comments,
.article-likes {
  font-size: 12px;
  line-height: 1.25;
}

.article-comments .icon,
.article-likes .icon {
  vertical-align: middle;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #939699;
  font-size: 12px;
  line-height: 1.25;
}

.sidebar-front-page {
  width: calc(25% - 15px);
  margin-left: 30px;
}

.widget {
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 10px;
}

.widget-title {
  margin: 0;
  padding: 20px 25px 19px;
  font-size: 14px;
  line-height: 1.429;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-bottom: 1px solid #D9DADB;
}

.widget-downloader {
  padding-top: 25px;
  color: #ffffff;
  background-color: #3BBDC4;
  background-image: url("../images/file.svg");
  background-repeat: no-repeat;
  background-position: right 25px top 20px;
}

.widget-downloader .widget-title {
  padding: 0 25px;
  font-family: Roboto Slab, Georgia, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.563;
  letter-spacing: 0;
  text-transform: none;
  border: none;
}

.widget-downloader .widget-description {
  margin: 10px 25px 20px;
  font-weight: 400;
  color: #C1F4F5;
}

.widget-downloader .widget-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 25px 13px;
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid #96E2E3;
}

.widget-downloader .widget-link .icon {
  margin-right: 11px;
}

.widget_tag_cloud {
  color: #262D33;
}

.widget_tag_cloud .tagcloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 25px 15px 15px 25px;
}

.widget_tag_cloud .tag-cloud-link {
  padding: 5px 15px;
  margin-right: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.429;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
  border: 1px solid #D9DADB;
  border-radius: 5px;
}

.widget_social {
  color: #262D33;
  text-align: center;
}

.widget_social .widget-title {
  padding: 30px 25px 25px;
  font-family: Roboto Slab, Georgia, serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0;
  text-transform: none;
  border: none;
}

.widget_social .widget_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 15px 35px;
}

.widget_social .widget_social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1DA1F2;
}

.widget_social .widget_social-link--facebook {
  background-color: #4267B2;
}

.widget_social .widget_social-link--youtube {
  background-color: #FF0000;
}

.widget_social .widget_social-link--instagram {
  background-color: #262626;
}

.widget_recent-post .recent-post-more {
  display: block;
  padding: 11px 0 14px;
  color: #262D33;
  font-weight: 900;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid #D9DADB;
}

.widget_recent-post .recent-post-more:visited {
  color: #262D33;
}

.recent-post-wrapper {
  padding: 0 25px;
  counter-reset: cnt;
}

.recent-post-wrapper .recent-post-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 0;
  text-decoration: none;
  color: #4B5157;
  border-bottom: 1px solid #D9DADB;
}

.recent-post-wrapper .recent-post-link:last-child {
  border-bottom: none;
}

.recent-post-wrapper .recent-post-link::before {
  counter-increment: cnt;
  content: counter(cnt);
  position: absolute;
  top: 20px;
  right: 5px;
  font-size: 70px;
  line-height: 1;
  font-weight: 900;
  font-style: italic;
  color: rgba(38, 45, 51, 0.08);
}

.recent-post-wrapper img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.recent-post-title {
  margin: 0 0 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}

.recent-post-time {
  font-size: 12px;
  line-height: 1.25;
  color: #939699;
}

.investigation {
  padding: 50px 0 55px;
  text-align: center;
  color: #ffffff;
  background-color: #5D5555;
}

.investigation .button {
  margin: 0 auto;
}

.investigation-title {
  width: 946px;
  margin: 0 auto 25px;
  font-family: Roboto Slab, Georgia, serif;
  font-size: 40px;
  line-height: 1.25;
  font-weight: 700;
}

.news {
  width: calc( 75% - 15px);
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.news-list {
  margin: 0;
  padding: 0 25px;
  list-style: none;
}

.news-item {
  padding: 25px 0 24px;
  border-bottom: 1px solid #D9DADB;
}

.news-item:last-child {
  border-bottom: none;
}

.news-link {
  text-decoration: none;
  color: inherit;
}

.news-link:hover, .news-link:focus, .news-link:visited {
  color: inherit;
}

.news-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-image-column {
  width: 336px;
  min-height: 100%;
  margin-right: 25px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.news-image-column img {
  -o-object-fit: cover;
     object-fit: cover;
}

.news-text-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px 0;
}

.category-name {
  line-height: 1.25;
}

.news-title {
  margin: 15px 0 10px;
  font-family: Roboto Slab, Georgia, serif;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 700;
  color: #262D33;
}

.news-text {
  margin: 0;
  padding: 0;
  color: #4B5157;
}

.news-footer {
  margin-top: auto;
}

.news-footer .article-date,
.news-footer .article-comments {
  margin-right: 11px;
}

.special {
  background-color: #262D33;
}

.special-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.photo-report,
.other {
  width: calc(50% - 15px);
  min-height: 570px;
}

.photo-report {
  background-color: #575557;
  border-radius: 10px;
  overflow: hidden;
}

.photo-report .button-photo .icon {
  margin-left: 0;
  margin-right: 8px;
}

.photo-report .button-photo-counter {
  margin-left: 8px;
  font-weight: normal;
}
